body {
    margin:50px;
}

.flower {
    border:3px solid black;
    margin:10px;
    padding:10px;
    display:inline-block;
}

.water {
    margin-left:5px;
}

.myBar {
    width: 0%;
    height: 40px;
    background-color: green;
    z-index: -1;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}